



/********************************************
  GLOBAL STYLES
********************************************/

html, body {
  height: 100%;
}




/********************************************
  NAVIGATION
********************************************/

.navbar-default {
  background-color: rgba(0,71,102,0.5);
  border-bottom-width: 0;
  border-color: rgba(255,255,255,0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 6px rgba(0, 0, 0, 0.1) inset;
  margin-bottom: 0;
}

.navbar-brand {
  padding-top: 11px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  color: rgba(255,255,255,0.7);
}

.navbar-default .navbar-nav>li>a,
.dropdown-menu>li>a {
  font-weight: 100;
  letter-spacing: 5px;
  text-transform: uppercase;
}

/* active state */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,
/* hover state */
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: rgba(255,255,255,0.1);
  color: #fff;
}




/********************************************
  HEADER/BANNER
********************************************/

.top-banner {
  margin-top: -52px;
}

.top-banner.home-page {
  margin-top: 0;
}

.top-banner, .banner-color-fill {
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100%;
  position: relative;
}

.top-banner {
  background-size: cover;
}

.banner-color-fill {
/*  background-color: rgba(0,71,102,0.5);*/
  
  background: -moz-linear-gradient(top, rgba(0,71,102,0.5) 0%, rgba(0,71,102,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,71,102,0.5)), color-stop(100%,rgba(0,71,102,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,71,102,0.5) 0%,rgba(0,71,102,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,71,102,0.5) 0%,rgba(0,71,102,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,71,102,0.5) 0%,rgba(0,71,102,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,71,102,0.5) 0%,rgba(0,71,102,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80004766', endColorstr='#004766',GradientType=0 ); /* IE6-9 */
  
}

.banner-title {
  left: 50%;
  padding: 0 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.banner-title img {
  margin-left: auto;
  margin-right: auto;
}




/********************************************
  CONTENT & TYPOGRAPHY
********************************************/

section {
  padding: 60px 0 70px;
}

.intro {
  padding-top: 0;
}

.dark-background {
  background: #004766;
  color: #fff;
}

h2 {
  font-size: 1.5em;
  letter-spacing: 1px;
  margin-top: 50px;
  text-transform: uppercase;
}

h2:first-child {
  margin-top: 20px;
}

.main-content .img-responsive {
  max-width: none;
  width: 100%;
}

.continent {
  background-size: cover;
}

.continent h2 {
  text-align: center;
}

.continent h2 img {
  display: inline-block;
  margin-bottom: 20px;
}

.continent .city-thumbnail {
  background-position: 50% 50%;
  background-size: cover;
  height: 200px;
}

/*north america*/
.continent .austin {
  background-image: url(../images/cities/austin.jpg);
}

.continent .portland {
  background-image: url(../images/cities/portland.jpg);
}

.continent .sanfrancisco {
  background-image: url(../images/cities/sanfrancisco.jpg);
}

/*south america*/
.continent .buenosaires {
  background-image: url(../images/cities/buenosaires.jpg);
}

.continent .rio {
  background-image: url(../images/cities/rio.jpg);
}

.continent .santiago {
  background-image: url(../images/cities/santiago.jpg);
}

/*europe*/
.continent .barcelona {
  background-image: url(../images/cities/barcelona.jpg);
}

.continent .paris {
  background-image: url(../images/cities/paris.jpg);
}

.continent .amsterdam {
  background-image: url(../images/cities/amsterdam.jpg);
}

/*pacific*/
.continent .maui {
  background-image: url(../images/cities/maui.jpg);
}

.continent .fiji {
  background-image: url(../images/cities/fiji.jpg);
}

.continent .borabora {
  background-image: url(../images/cities/borabora.jpg);
}

/*asia*/
.continent .tokyo {
  background-image: url(../images/cities/tokyo.jpg);
}

.continent .goa {
  background-image: url(../images/cities/goa.jpg);
}

.continent .bali {
  background-image: url(../images/cities/bali.jpg);
}

/*africa*/
.continent .capetown {
  background-image: url(../images/cities/capetown.jpg);
}

.continent .kilimanjaro {
  background-image: url(../images/cities/kilimanjaro.jpg);
}

.continent .zanzibar {
  background-image: url(../images/cities/zanzibar.jpg);
}

.continent .city-thumbnail h3 {
  background-color: rgba(0,71,102,0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 6px rgba(0, 0, 0, 0.1) inset;
  color: #fff;
  font-weight: 100;
  letter-spacing: 5px;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

.continent .city-thumbnail a {
  display: block;
  height: 100%;
  width: 100%;
}

.continent .city-thumbnail a:hover {
  text-decoration: none;
}

.continent .city-thumbnail a:hover h3 {
  background-color: rgba(0,71,102,0.7);
}

p {
  font-weight: 200;
}

blockquote {
  font-family: Georgia;
  font-style: italic;
}

input.btn-success {
  background-color: transparent;
  color: #449d44;
  height: 40px;
  margin-top: 10px;
}

.footer {
  background: #ccc;
  color: #777;
  font-weight: 200;
  letter-spacing: 2px;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

.footer, .footer p {
  font-size: 11px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  p, section li {
    font-size: 22px;
    line-height: 160%;
    margin-bottom: 20px;
  }
}